.Cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #080218;
  width: 100%;
  height: 85px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: clamp(1rem, 0.722rem + 1.481vw, 2.5rem);

  @media (max-width: 600px) {
    .facet_sidebar {
      display: none;
    }
  }
}
.h1 {
  margin-left: 40px;
  font-size: clamp(1rem, 0.722rem + 1.481vw, 2.5rem);
}
