.Cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #080218;
  width: 100%;
  min-height: 85px;
  padding: 0 40px;
  box-sizing: border-box;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 40px;
}
.h1{
  color: #a202ff;
}
.a {
  color: #ffffff;
} 

@media (max-width: 600px) {
  .Cabecalho {
    height: auto;
    min-height: 70px;
    padding: 15px;
    flex-wrap: wrap;
    gap: 15px;
  }

  .h1 {
    font-size: 1.5rem;
  }
}

