.listaJogos {
  display: grid;
  padding-top: 10px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  gap: 18px;
}

.listaJogos > * {
  flex-shrink: 0;
  width: 280px;
}

.catalogo {
  width: 100%;
  box-sizing: border-box;
}
/* editando a largura do SearchBar do Catalogo */
.SearchLargura {
  width: 100%;
  max-width: 640px;
}

.div p {
  font-size: 10px;
}

  .paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 40px 0;
}

.paginacao button {
  width: 40px;
  height: 40px;
  border: 2px solid #af8bec;
  border-radius: 6px;
  background-color: #6c2bd9;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  
  transition: all 0.2s ease;
}

.paginacao button:hover {
  background-color: #6c2bd9;
  transform: translateY(-10px)
}

.paginacao .ativo {
  background-color: #6c2bd9;
}

p {
  font-size: 20px;
}
