.listaJogos {
  display: flex;
  gap: 24px;
  overflow-y: hidden;
  overflow-x: auto;
  scroll-behavior: smooth;
}
.listaJogos > * {
  flex-shrink: 0;
  width: 280px;
}

.catalogo {
  width: 100%;
  box-sizing: border-box;
}
/* editando a largura do SearchBar do Catalogo */
.SearchLargura {
  width: 100%;
  max-width: 640px;
}

  
 