.Favoritos {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
    
.limpar {
  margin-left: 60px;
  height: 40px;
  padding: 0 16px;
  background-color: #666;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  width: 150px;
  height: 50px;
  align-self: flex-end;
}
