.main {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px 35px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.topicos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.topicosSuporte ul {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.topicosSuporte li {
  flex: 1;
  background-color: #1d1c1c;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
.perguntasEcontatos{
  display: flex;
  padding: 20px;
}
.perguntas {
  display: grid;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 8px;
  justify-content: center;
  
}
.perguntas select {
  font-size: 20px;
  display: flex;
  flex-direction: column; 
  width: 400px;
  padding: 10px;
  margin: 2px
}
.contatos {
  padding: 20px;
  background-color: #1d1c1c;
  margin: 20px;
  border-radius: 8px;
  width: 400px; 
}
